studywell-ai-platform/n8n-workflows/ai-chat-rag.json
{
  "name": "Study Coach RAG Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai/chat",
        "responseMode": "responseNode"
      },
      "id": "chat-webhook",
      "name": "Study Question Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://lumen-api:8081/api/ai/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body || $json) }}"
      },
      "id": "call-rag-gateway",
      "name": "Call StudyWell Gateway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 260]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-chat",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [760, 260]
    }
  ],
  "connections": {
    "Study Question Webhook": {
      "main": [
        [
          {
            "node": "Call StudyWell Gateway",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call StudyWell Gateway": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
