studywell-ai-platform/n8n-workflows/document-upload-pipeline.json
{
  "name": "Study Knowledge Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "documents/ingest",
        "responseMode": "responseNode"
      },
      "id": "document-webhook",
      "name": "Study Document Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://lumen-api:8081/api/documents/ingest",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body || $json) }}"
      },
      "id": "call-studywell-ingest",
      "name": "Call StudyWell Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [520, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [780, 300]
    }
  ],
  "connections": {
    "Study Document Webhook": {
      "main": [
        [
          {
            "node": "Call StudyWell Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call StudyWell Ingest": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
